

<ion-content class="custom-bg" scrollY="false" scrollX="false">
  <div class="ion-text-center">
    <h1 class="">Grafik <span class="next_build-color">Valg</span></h1>
    <p class="ion-padding">
      Vælg din <span class="next_build-color">grafiske ydeevne</span>. Dette valg har indflydelse på din grafiske oplevelse under <span class="next_build-color">gaming</span>.
    </p>
  </div>

  <ion-grid class="mt-0">
    <ion-row>
      <ion-col size-md="6" class="ion-text-center">
        <div class="card-container">
          <img class="card" alt="Silhouette of mountains" src="../../assets/images/cyperpunk.webp" />
          <p class="card-label low">Lav</p>
        </div>
      </ion-col>

      <ion-col size-md="6" class="ion-text-center">
        <div class="card-container">
          <img class="card" alt="Silhouette of mountains" src="../../assets/images/cod.webp" />
          <p class="card-label mid">Middel</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" class="ion-text-center">
        <div class="card-container">
          <img class="card" alt="Silhouette of mountains" src="../../assets/images/alien.webp" />
          <p class="card-label high">Høj</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <button expand="full">
          <div class="ion-align-items-center d-flex ion-justify-content-center">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Gå tilbage
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button expand="full">
          <div class="ion-align-items-center d-flex ion-justify-content-center">
            Gå videre
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
