

<ion-content class="custom-bg" scrollY="false" scrollX="false">
  <div class="ion-text-center ion-padding">
    <h1 class="">Har du behov for at kunne <span class="next_build-color">multitaske</span>?</h1>
    <p class="ion-padding">
      Dette kan forkomme ved brug af flere <span class="next_build-color">skærme</span> eller mange <span class="next_build-color">applikationer</span>, der er åbne på samme tid.
    </p>
  </div>

  <ion-grid class="mt-0">
    <ion-row>
      <ion-col size-md="6" class="ion-text-center">
        <div class="card-container">
          <img class="card" alt="ja" src="../../assets/images/blue.png" />
          <div class="ion-overlay"></div>
        </div>
      </ion-col>
      
      <ion-col size-md="6" class="ion-text-center">
        <div class="card-container">
          <img class="card" alt="nej" src="../../assets/images/pink.png" />
          <div class="ion-overlay1"></div>
        </div>        
      </ion-col>
      

      <ion-col>
        <button expand="full">
          <div class="ion-align-items-center d-flex ion-justify-content-center">
            Ja
          </div>
        </button>
      </ion-col>

      <ion-col>
        <button expand="full">
          <div class="ion-align-items-center d-flex ion-justify-content-center">
            Nej
          </div>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

