
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>



<ion-content class="custom-bg" scroll="false">
  <div class="ion-text-center">
    <h1 class="">Klar, Parat, <span class="next_build-color">Spil</span>!</h1>
    <p class="ion-padding">
      Vælg <span class="next_build-color">2 spil</span> du ønsker din computer skal kunne <span class="next_build-color">trække</span>.
    </p>
  </div>


  <ion-grid class="ion-padding mt-0">
    <ion-row>
      <ion-col size-md="6" class="ion-text-center">
        <img class="card" alt="Silhouette of mountains" src="../../assets/images/cyperpunk.webp" />
      </ion-col>
  
      <ion-col size-md="6" class="ion-text-center">
        <img class="card" alt="Silhouette of mountains" src="../../assets/images/cod.webp" />
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size-md="6" class="ion-text-center">
        <img class="card" alt="Silhouette of mountains" src="../../assets/images/gta5.webp" />
      </ion-col>
  
      <ion-col size-md="6" class="ion-text-center">
        <img class="card" alt="Silhouette of mountains" src="../../assets/images/alien.webp" />
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size-md="6" class="ion-text-center">
        <img class="card" alt="Silhouette of mountains" src="../../assets/images/fortnite.webp" />
      </ion-col>
  
      <ion-col size-md="6" class="ion-text-center">
        <img class="card" alt="Silhouette of mountains" src="../../assets/images/cs2.webp" />
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <button expand="full">
          <div class="ion-align-items-center d-flex ion-justify-content-center">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Gå tilbage
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button expand="full">
          <div class="ion-align-items-center d-flex ion-justify-content-center">
            Gå videre
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
  

</ion-content>